@media screen and (min-width: 500px){
    .page{
        width:100%;
        min-width:1200px;
        height:auto;
    }
    .orange{
        color: #E00D0D;
    }
    .red{
        color: #9F1010;
    }
    .grey{
        color: #888888;
    }
    .green{
        color: #0BCE85;
    }
    .el-menu.el-menu--horizontal{
        border-bottom: none;
    }
    .index_top{
        width:100%;
        min-width:1200px;
        height:70px;
        position: fixed;
        padding:0px 2%;
        top:0px;
        background-color: #fff;
        z-index:199;
    }
    .index_top_left{
        width:150px;
        height:70px;
        line-height: 70px;
        font-size: 0.6rem;
        float:left;
        color: #0334CC;
    }
    .index_top_left img{
        width:50px;
        height:50px;
        margin-right:10px;
        vertical-align: middle;
    }
    .el-menu-demo{
        width:auto;
        height:100%;
        float:right;
    }
    .el-menu-item{
        width:auto;
        margin:0 2%;
        font-size: 15px;
    }
    .el-submenu__title{
        font-size: 15px;
    }
    .top_pic{
        margin-right:5px;
    }
    .index_page_one{
        width:100%;
        min-height:500px;
        /* position: fixed;
        top:50px;
        left:0px;
        z-index:99; */
        margin-top:70px;
        background: url('../img/doctor.jpg') no-repeat;
        background-size: cover;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .index_page_one_title{
        width:45%;
        height:auto;
        margin-left:10%;
    }
    .index_page_one_title_word{
        width:100%;
        height:auto;
        margin-left:5%;
        line-height: 40px;
        margin-top:2%;
        color: #fff;
        /* font-size: 20px; */
        font-size: 0.9rem;
        letter-spacing: 3px;
    }
    .index_page_one_title_word_bold{
        font-size: 2.5rem;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
    }
    .index_page_one_title_word span{
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        line-height: 40px;
    }
    .index_page_one_button{
        width:240px;
        height:52px;
        margin-top:30px;
        margin-left: 5%
    }
    .index_page_one_button button{
        width:240px;
        height:52px;
        text-align: center;
        color: #fff;
        background:rgba(3,52,204,1);
        border-radius:30px;
        font-size: 24px;
        border:none;
    }
    .index_page_one_pic{
        width:50%;
        margin:20px auto;
    }
    .index_page_one_pic img{
        width:100%;
        object-fit:contain;
    }
    .index_page_two{
        width:100%;
        min-height:700px;
        padding-bottom:20px;
    }
    .index_page_two_top{
        width:100%;
        height:30%;
        margin-top:20px;
        box-shadow: 0 2px 12.09px 6.91px rgba(82,33,162,.05);
    }
    .index_page_two_top_title{
        width:100%;
        height:40%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 100px;
        color: rgba(3,52,204,1);
    }
    .index_page_two_top_content{
        width:auto;
        max-width: 1140px;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .index_page_two_top_content_list{
        width: 20%;
        height:120px;
        background: #fff;
        padding: 5px 10px;
        /* box-shadow: 0 0 9px 1px rgba(0,0,0,.08); */
        font-size: 1rem;
    }
    .index_page_two_top_content_list_number{
        width:100%;
        height:60px;
        line-height: 60px;
        text-align: center;
        font-size: 2rem;
    }
    .index_page_two_top_content_list_word{
        width:100%;
        height:60px;
        line-height: 60px;
        text-align: center;
        font-size: 1rem;
    }
    .index_page_two_bottom{
        width:100%;
        height:68%;
        margin-top:2%;
    }
    .areaBar{
        width:100%;
        height:100%;
    }
    
    .index_page_three{
        width: 100%;
        min-height:700px;
        background-color: #EBEBEB;
    }
    .index_page_three_title{
        width:100%;
        height:22%;
        padding-top:3%;
        padding-bottom:4%;
    }
    .index_page_three_title_top{
        width:100%;
        height:40%;
        font-size: 2.5rem;
        text-align: center;
        line-height: 100px;
        color: rgba(3,52,204,1);
    }
    .index_page_three_title_bottom{
        width:60%;
        height:60%;
        font-size: 0.8rem;
        text-align: center;
        line-height: 30px;
        color: #747373;
        margin:10px auto;
    }
    /* .index_page_three_list{
        width:90%;
        height:63%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    
    }
    .index_page_three_list_good{
        width:100%;
        height:300px;
        box-shadow: 0 0 46px 0 rgba(97,104,212,.2);
        border-radius: 8px;
        border-top: 7px solid #eae6e4;
        border-bottom: 7px solid #eae6e4;
        padding: 0px 30px;
        padding-top:30px;
        background: #fff;
        transition: .3s linear;
    } */
    .el-carousel{
        width:70%;
        height:63%;
        margin:0 auto;
    }
    /* .el-carousel__item{
        width:30%;
    } */
    .index_page_three_list_good{
        border-radius: 8px;
        border-top: 7px solid #eae6e4;
        border-bottom: 7px solid #eae6e4;
        box-shadow: 0 0 46px 0 rgba(97,104,212,.2);
        padding: 0px 10px;
        background-color: #fff;
        height: auto;
    }
    /* .el-carousel__container {
        width:100%;
      } */
    .el-carousel__container .is-active{
        border-top: 7px solid rgba(3,52,204,1);
        border-bottom: 7px solid rgba(3,52,204,1);
    }
    /* .index_page_three_list_good:hover{
        border-top: 7px solid rgba(3,52,204,1);
        border-bottom: 7px solid rgba(3,52,204,1);
    } */
    .is-active .index_page_three_list_good_button{
        background: url('../img/buy_hover.png') no-repeat;
        background-size: contain;
    }
    .index_page_three_list_good_pic{
        width:100%;
        height:100px;
        margin-top:20px;
        text-align: center;
    }
    .index_page_three_list_good_pic img{
        height:100%;
        object-fit:contain;
    }
    .index_page_three_list_good_title{
        width:100%;
        height:auto;
        line-height:30px;
        font-size: 1rem;
        text-align: center;
    }
    .index_page_three_list_good_price{
        width:100%;
        height:50px;
        line-height:50px;
        font-size: 1.2rem;
        text-align: center;
        color: #747373;
    }
    .index_page_three_list_good_price span{
        font-size: 1.3rem;
        color: #F52E2E;
    }
    .index_page_three_list_good_button{
        width:180px;
        height:80px;
        margin:20px auto;
        background: url('../img/buy.png') no-repeat;
        background-size: contain;
    }
    .el-carousel__arrow{
        background-color: rgba(3,52,204,1);
    }
    /* .el-carousel__indicator{
        width:0px;
    } */
    
    .index_page_four{
        width:100%;
        min-height:500px;
        background-color: rgba(3,52,204,1);
        padding-bottom:10%;
    }
    .index_page_four_title{
        width:100%;
        height:auto;
        padding-top:5%;
    }
    .index_page_four_title_top{
        width:100%;
        height:100px;
        font-size: 2.5rem;
        text-align: center;
        line-height: 100px;
        color: #fff;
    }
    .index_page_four_title_bottom{
        width:70%;
        height:auto;
        margin:20px auto;
        text-align: center;
        line-height: 25px;
        margin-top:2%;
        /* font-size: 20px; */
        font-size: 1rem;
        letter-spacing: 3px;
        color: #fff;
    }
    .index_page_four_center{
        width:90%;
        margin:0 auto;
        height:auto;
        padding:20px 0px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        margin-top:10%;
    }
    .index_page_four_center_list{
        width:120px;
        height:100px;
    }
    .index_page_four_center_list_pic{
        width:120px;
        height:50px;
        text-align: center;
    }
    .index_page_four_center_list_pic img{
        height:100%;
        object-fit:contain;
    }
    .index_page_four_center_list_word{
        width:100%;
        height:50px;
        line-height: 20px;
        color: #fff;
        font-size: 0.8rem;
        text-align: center;
        margin-top:5px;
    }
    
    
    .index_page_five{
        width: 100%;
        min-height:850px;
        padding-bottom:70px;
        background-color: #EBEBEB;
    }
    .index_page_five_title{
        width:100%;
        height:100px;
        font-size: 2.5rem;
        text-align: center;
        line-height: 100px;
    }
    .index_page_five_center{
        width:90%;
        height:70%;
        margin:20px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .index_page_five_center_pic{
        width:48%;
        box-shadow: 0px 0px 12.09px 6.91px rgba(98, 91, 117, 0.38);
    }
    .index_page_five_center_pic img{
        width:100%;
        height: 100%;
        /* object-fit:contain; */
    }
    .index_page_five_center_list{
        width:48%;
        height:auto;
        margin-left:4%;
    }
    .index_page_five_center_list_list{
        width:100%;
        height:auto;
        min-height:100px;
        background-color: #fff;
        margin-top:20px;
    }
    .index_page_five_center_list_top{
        width:90%;
        margin:0 auto;
        height:30px;
        line-height: 30px;
        font-size: 0.6rem;
        color: #747373;
    }
    .index_page_five_center_list_center{
        width:90%;
        margin:0 auto;
        height:auto;
        line-height: 20px;
        font-size: 1rem;
    }
    .index_page_five_center_list_bottom{
        width:90%;
        margin:0 auto;
        height:30px;
        line-height: 30px;
        font-size: 0.6rem;
        color: #747373;
    }

    .index_page_six{
        width: 100%;
        padding-bottom:70px;
        color: #fff;
        background:rgba(3,52,204,1);
        display: flex;
        align-items: center;
    }
    .index_page_six_center{
        width:90%;
        height:70%;
        margin:0px auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .index_page_six_center_pic{
        width:48%;
        height:300px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* box-shadow: 0px 0px 12.09px 6.91px rgba(98, 91, 117, 0.38);*/
    }
    .index_page_six_center_pic img{
        width:100%;
        height: 100%;
        /* object-fit:contain; */
    }
    .index_page_six_center_list{
        width:48%;
        height:auto;
        margin-left:4%;
    }
    .index_page_six_center_list_top{
        width:100%;
        font-size: 2rem;
        height:auto;
        line-height:50px;
    }
    .index_page_six_center_list_center{
        width:100%;
        font-size: 0.8rem;
        height:auto;
        line-height:30px;
    }
    .index_page_six_center_list_bottom{
        width:100%;
        font-size: 0.8rem;
        height:auto;
        line-height:30px;
    }
    .index_page_bottom{
        width:100%;
        height:40px;
        line-height: 40px;
        text-align: center;
        background-color: #eae6e4;
        color: #888888;
        font-size: 0.8rem;
    }

    .index_page_seven{
        width: 100%;
        height:auto;
        padding:20px 0px;
        background:#F4F4F4;
    }
    .index_page_seven_list{
        width:60%;
        height:auto;
        margin:0 auto;
    }
    .index_page_seven_center{
        width:60%;
        height:33%;
        margin:10px auto;
    }
    .index_page_seven_list_list{
        width:100%;
        height:auto;
        background-color: #BCD2EE;
        margin-bottom:20px;
        box-shadow: -4px 6px 8px 0px rgba(98, 91, 117, 0.38)
    }
    .index_page_seven_list_list_top,.index_page_seven_list_list_center{
        width:94%;
        padding:0% 3%;
        height:auto;
        background-color: #BCD2EE;
        line-height: 40px;
    }
    .index_page_seven_list_list_top{
        color: #666666;
    }
    .index_page_seven_list_list_top span{
        color: #0334CC;
    }
    .index_page_seven_list_list_top i{
        margin-left:20px;
        cursor: pointer;
    }
    .index_page_seven_list_list_center{
        font-size:0.9rem;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(51,51,51,1);
    }
    .index_page_seven_center .el-button{
        margin-top:10px;
    }
    .blue{
        color: #0334CC;
    }
    .index_page_eight{
        text-align: center;
    }
    
    .question{
        width:100%;
        height:100%;
        background: url('../img/question.jpg') no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        margin-top: 70px;
    }
    .q_content{
        width:60%;
        height:auto;
        margin:0 auto;
        background-color: #fff;
        border-radius: 10px;
        padding:2% 0px;
        box-shadow:6px 5px 13px 0px rgb(51, 125, 236);
    }
    .q_title{
        width:100%;
        height:auto;
        text-align: center;
        line-height: 80px;
        color: #0334CC;
        font-size: 2rem;
    }
    .q_describe{
        width:70%;
        margin:0 auto;
        height:auto;
        /* text-align: center; */
        line-height: 20px;
        font-size: 0.6rem;
        color: #747373;
    }
    .q_area{
        width:70%;
        padding:6% 0%;
        margin:0 auto;
    }
    .q_area_title{
        width:100%;
        height:auto;
        line-height:50px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .q_area_answer{
        width:100%;
        height:auto;
        line-height:50px;
        font-size: 1rem;
        font-weight: bold;
    }
    .q_area_answer .el-radio{
        display: block;
        height:50px;
        line-height: 50px;
        font-size: 0.9rem;
        font-weight: bold;
        color: #000;
        zoom: 110%;
    }
    .q_area_button{
        width:100%;
        height:80px;
        padding:20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .q_area_button .el-button{
        width:30%;
        height: 4 0px;
    
    }
    .q_area_answer .el-checkbox{
        height:30px;
        line-height: 30px;
        font-size: 0.9rem;
        font-weight: bold;
        color: #000;
        zoom: 110%;
    }
    .end_content{
        width:100%;
        height:auto;
    }
    .end_title{
        width:100%;
        height:100px;
        text-align: center;
    }
    .end_title img{
        width:100px;
        height:100px;
    }
    .end_word{
        width:100%;
        height:auto;
        font-size: 1rem;
        text-align: center;
        line-height: 30px;
        color: #888888;
    }
    
    
    .detail{
        width:60%;
        border-left: 1px solid #888888;
        border-right: 1px solid #888888;
        height:auto;
        margin:0 auto;
    }
    .detail_top{
        width:100%;
        height:auto;
        display: flex;
        align-items: center;
    }
    .detail_top_pic{
        width:40%;
        height:100%;
        float:left;
        padding:2%;
    }
    .detail_top_pic img{
        width:100%;
        object-fit:contain;
    }
    .detail_top_content{
        width:60%;
        height:auto;
        float:left;
        padding:2%;
    }
    .detail_top_content_top{
        width:100%;
        height:auto;
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #0334CC;
    }
    .detail_top_content_top span{
        font-size: 0.7rem;
        color: #888888;
    }
    .detail_top_content_center{
        width:100%;
        height:auto;
        line-height: 20px;
        font-size: 0.8rem;
    }
    .detail_top_content_bottom{
        width:100%;
        height:80px;
        line-height: 80px;
        margin-top:10px;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .detail_top_content_bottom img{
        height:100%;
        object-fit:contain;
    }
    .detail_middle_content{
        width:100%;
        height:auto;
    }
    .detail_middle_content_pic{
        width:100%;
        height:auto;
    }
    .detail_middle_content_pic img{
        width:100%;
        object-fit:contain;
    }

    .wrapper {
        margin: auto;
        height:75px;
        background:#F4F4F4;
        padding-bottom:20px;
      }
      
      .clock {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .total{
          width:17%;
          height:75px;
          line-height:75px;
          text-align: center;;
          color:#0334CC;
          font-size: 2rem;
          font-weight: 100;
      }
      .number {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5%;
        grid-row-gap: 0;
      }
      
      .digit {
        width: 40px;
        height:50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
      }
      
      .digit__svg {
        width: 100%;
        height:50px;
        height: auto;
        stroke: #0334CC;
        stroke-width: 4px;
        fill: none;
        display: block;
      }
}


